@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');




/* ------------------------------------------------------------------------------------------------------- Misc */
/* I added the HTML tag so that my image would cover the full viewport */
html {
    height: 100%;
}

.body-image {
    background-image: url("../images/portugal-sunset-lighthouse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.uppercase {
    text-transform: uppercase;
}



/* -------------------------------------------------------------------------------------------------------- Header */

header {
    margin: 0;
}

.not-index-header {
    background-color: #e6dcc7;
}

.home-link:hover {
    text-decoration: none;
}

.name, .title {
    font-family: 'Lato', sans-serif;
    color: #000000;
    padding-left: 15px;
}


/* I seperated the padding of name as it was too close to the top of the page but I was happy with the spacing between name and title */
.name { 
    padding-top: 12px;
}

.navbar {
    justify-content: flex-end;
}


#navbarNavDropdown {
    font-family: 'Lato', sans-serif;
    position: relative;
    margin: 25px;
    justify-content: flex-end;
}

@media (min-width: 576px) {
    .nav-item {
        padding: 10px;
    }
}

.nav-item:hover {
    text-decoration: none;
    color: #000000;
}

.navbar-nav li a {
    color: #000000;
    text-decoration: none;
}


/* ----------------------------------------------------------------------------------------------------------------------- Section */

/* --------------------------------------------------------------------------------- About */

.about-heading {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 20px;
}

.about-image {
    background-image: url("../images/about-me.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
    margin-top: 50px;
}

.about-text {
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
    padding-left: 50px;
}

.youtube-links {
    color: #000000;
}
.youtube-links:hover {
    color: #000000;
    text-decoration: none;
}

/* -------------------------------------------------------------------------------- Gallery */

.gallery-heading {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 20px;
}

.container-gallery {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 20px;
}

/* I chose to have the below media query only affect sizes 1370px and above because I am happy with the way the images look on all screen sizes below that, however, they looked too strecthed on a a big monitor. 
the reason I chose a custom width rather than the generic break points was because I had to take the ipad pro in landscape form into account.  */

@media (min-width: 1370px) {
    .container-gallery {
        margin-left: 25%;
        margin-right: 25%;
    }
}

.card-deck {
    margin-bottom: 20px;
}

.card img {
    height: 300px;
}

.btn-primary {
    color: #000000;
    background-color: #e6dcc7;
    border-color: #e6dcc7;
}


/* ------------------------------------------------------------------------------ Contact */

.form-container {
    max-width: 90%;
    position: relative;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}



@media (min-width: 576px) {
    .form-container {
        max-width: 50%;
        padding-top: 5%;
    }
}

.contact-heading {
    margin: 20px;
}



/* ----------------------------------------------------------------------------------------------------------------------- Footer */

footer {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.not-index-footer {
    background-color: #e6dcc7;
    position: relative;
}

@media (min-width: 576px) {
    .not-index-footer {
        position: absolute;
        bottom: 0;
    }
}

.gallery-footer {
    background-color: #e6dcc7;
    position: relative;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #ffd480;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background-color: #ffa31a;
}

#footer-padding {
    padding: 20px;
    color: #fafafa;
}

.footer-color {
    color: #000000;
}