


/* ---------------------------------------- Colours */


/* I added the HTML tag so that my image would cover the full viewport */
html {
    height: 100%;
}

body {
    background-image: url("../images/entwistle-sunset1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* ---------------------------------------- Header */



#nav {
    position: relative;
    float: right;
    margin: 25px;
}

.nav-item {
    color: #000000;
}


/* ---------------------------------------- Section */








/* ---------------------------------------- Footer */

footer {
    width: 100%;
    min-height: 5%;
    margin: 0;
    background-color: aqua;
    position: absolute;
    bottom: 0;
}

.social-links {
    right: 100px;
    text-align: right;
}

.social-links a i {
    height: 32px;
    width: 32px;
}