


/* ---------------------------------------- Colours */


.container-style {
    background-color: rgba(139, 134, 121, 0.41);
}


/* ---------------------------------------- Misc */
/* I added the HTML tag so that my image would cover the full viewport */
html {
    height: 100%;
}

body {
    background-image: url("../images/entwistle-sunset1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.uppercase {
    text-transform: uppercase;
}



/* ---------------------------------------- Header */

header {
    margin: 0;
}


#nav {
    position: relative;
    float: right;
    margin: 25px;
}

.nav-item {
    color: #000000;
}


/* ---------------------------------------- Section */








/* ---------------------------------------- Footer */

footer {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
}

#footer-padding {
    padding: 20px;
}